@use "@/styles/variables" as *;

.main {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: $spacing-4;

  .mainBgContainer {
    position: absolute;
    inset: 0;
    z-index: -1;
    overflow: hidden;

    // Background image
    > img:last-child {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }

    // Logo
    > img:nth-child(2) {
      position: absolute;
      top: 10%;
      right: 20%;
      width: 300px;
      height: auto;
      z-index: 2;
    }

    .characterContainer {
      position: absolute;
      top: 0%;
      left: 5%;
      width: 400px;
      height: auto;
      z-index: 1;

      img {
        position: absolute;
        width: 100%;
        height: auto;
      }

      // Character base
      img:nth-child(1) {
        position: relative;
      }

      // Left eye
      img:nth-child(2) {
        position: absolute;
        z-index: 1;
        top: 34%;
        right: 22%;
        width: 12%;
      }

      // Right eye
      img:nth-child(3) {
        position: absolute;
        z-index: 1;
        top: 34%;
        right: 42%;
        width: 12%;
      }
    }
  }

  .searchDashboard {
    position: absolute;
    height: 60%;
    background-color: $white;
    bottom: $spacing-4;
    left: $spacing-4;
    right: $spacing-4;
    border-radius: $border-radius-base;
    padding: $spacing-4;
    overflow-y: scroll;

    .sectionTitle {
      font-size: $font-size-4;
      font-weight: $font-weight-bold;
      line-height: $line-height-base;
      color: $gray-1100;
      padding-left: $spacing-3;
      margin-bottom: $spacing-4;
      border-left: 4px solid $primary-color;
    }

    .searchBar {
      display: flex;
      flex-direction: row;
      gap: $spacing-8;
      padding: 4px;
      margin-bottom: $spacing-6;

      & > * {
        flex: 1;
      }

      & > *:nth-child(1) {
        flex: 2;
      }

      & > *:nth-child(2) {
        flex: 1;
      }

      .searchBtn {
        &:disabled {
          background-color: $gray-600;
          color: $white;
        }
      }
    }

    .jobList {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
      gap: $spacing-4;

      @media (max-width: $breakpoint-md) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: $breakpoint-sm) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
