@use "@/styles/variables" as *;

.eyesContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.character {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 2;
}

.eye {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  top: 40%;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: visible;
  z-index: 1;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 1.25rem;
    height: 1.25rem;
    overflow: visible;
  }
}

.leftEye {
  right: calc(31% + 3.7rem); // 30% from right + spacing for right eye
}

.rightEye {
  right: 31%;
}

.pupil {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: $gray-1500;
  border-radius: 50%;
  transition: transform 100ms ease-out;
}

.highlight {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: $white;
  border-radius: 50%;
  top: 0.5rem;
  left: 0.5rem;
  opacity: 0.6;
}
