@use "@/styles/variables" as *;

.searchBar {
  display: flex;
  flex-direction: row;
  gap: $spacing-1;
  padding: 0;
  flex-shrink: 0;

  @media (min-width: $breakpoint-md) {
    gap: $spacing-2;
  }

  & > * {
    flex: 1;
  }

  & > *:nth-child(1) {
    flex: 2;
  }

  & > *:nth-child(2) {
    flex: 1;
  }

  .searchBtn {
    flex: 0 0 auto;
    width: fit-content;
    height: 100%;
    background-color: $primary-color;
    color: $white;
    border: none;
    border-radius: $border-radius-base;
    padding: $spacing-1 $spacing-2;
    font-size: $font-size-2;
    font-weight: $font-weight-bold;
    cursor: pointer;
    transition: background-color $transition-base;
    align-self: center;

    @media (min-width: $breakpoint-md) {
      padding: $spacing-1 $spacing-3;
      font-size: $font-size-2;
    }

    &:hover:not(:disabled) {
      background-color: $primary-dark;
    }

    &:disabled {
      background-color: $gray-600;
      color: $white;
      cursor: not-allowed;
      opacity: 0.6;
    }
  }
}
