@use "@/styles/variables" as *;

.searchBar {
  display: flex;
  flex-direction: row;
  gap: $spacing-2;
  padding: 4px;
  flex-shrink: 0;

  & > * {
    flex: 1;
  }

  & > *:nth-child(1) {
    flex: 2;
  }

  & > *:nth-child(2) {
    flex: 1;
  }

  .searchBtn {
    flex: 0 0 auto;
    width: fit-content;
    background-color: $primary-color;
    color: $white;
    border: none;
    border-radius: $border-radius-base;
    padding: $spacing-2 $spacing-4;
    font-size: $font-size-3;
    font-weight: $font-weight-bold;
    cursor: pointer;
    transition: background-color $transition-base;

    &:hover:not(:disabled) {
      background-color: $primary-dark;
    }

    &:disabled {
      background-color: $gray-600;
      color: $white;
      cursor: not-allowed;
      opacity: 0.6;
    }
  }
}
